<div class="container mt-2">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand tituloClass"> {{title}} </span>

    </nav>
    <!-- 
    <div class="text-center tituloClass">
        <h1>
            {{title}}
        </h1>
    </div>
    -->
    <div class="card mb-2">
        <div class="card-body ">
            <app-short-url></app-short-url>
        </div>
        <!-- <div class="card-body ">
            <app-spinner></app-spinner>
        </div> -->
    </div>
</div>