<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">CREATE</h5>

        <form [formGroup]='myForm' (ngSubmit)="create()">
            <div class="form-group">
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle" [class.greenIcon]="this.myForm.get('name')?.valid"
                            [class.redIcon]="this.myForm.get('name')?.invalid && this.myForm.get('name')?.touched">
                        </i>
                    </span>
                    <input type="text" class="form-control" formControlName="name" name="name" id="name" required
                        placeholder="Username" >

                    <span class="help-block" style="color: hotpink;"
                        *ngIf="!myForm.get('name')?.valid && myForm.get('name')?.touched">
                        <!-- <span *ngIf="myForm.get('name')?.errors['required']">
                        ID is required
                        </span>  -->Name is required
                    </span>
                </div>
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fa fa-user-circle" aria-hidden="true"
                        [class.greenIcon]="this.myForm.get('lastName')?.valid"
                        [class.redIcon]="this.myForm.get('lastName')?.invalid && this.myForm.get('lastName')?.touched">
                    </i>
                </span>
                <input type="text" class="form-control" formControlName="lastName" name="lastName" required
                    placeholder="LastName">

                <span class="help-block" style="color: hotpink;"
                    *ngIf="!myForm.get('lastName')?.valid && myForm.get('lastName')?.touched">
                    <!-- <span *ngIf="myForm.get('lastName')?.errors['required']">
                        ID is required
                        </span>  -->LastName is required
                </span>
            </div>


            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"
                        [class.greenIcon]="this.myForm.get('numTarjeta')?.valid"
                        [class.redIcon]="this.myForm.get('numTarjeta')?.invalid && this.myForm.get('numTarjeta')?.touched">
                    </i>
                </span>
                <input type="text" class="form-control" formControlName="numTarjeta" name="numTarjeta" required
                    placeholder=" Card Number" maxlength="10">

                <span class="help-block" style="color: hotpink;"
                    *ngIf="!myForm.get('numTarjeta')?.valid && myForm.get('numTarjeta')?.touched">
                    <!-- <span *ngIf="myForm.get('numTarjeta')?.errors['required']">
                        ID is required
                        </span>  -->Number is required, lenght 10.
                </span>
            </div>


            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa fa-calendar" aria-hidden="true"
                                [class.greenIcon]="this.myForm.get('fechaExpiracion')?.valid"
                                [class.redIcon]="this.myForm.get('fechaExpiracion')?.invalid && this.myForm.get('fechaExpiracion')?.touched">
                            </i>
                        </span>
                        <input type="text" class="form-control" formControlName="fechaExpiracion" name="fechaExpiracion"
                            required placeholder="MM/YY" maxlength="5">
                    </div>

                    <span class="help-block" style="color: hotpink;"
                        *ngIf="!myForm.get('fechaExpiracion')?.valid && myForm.get('fechaExpiracion')?.touched">
                        <!-- <span *ngIf="myForm.get('fechaExpiracion')?.errors['required']">
                        ID is required
                        </span>  -->FechaExpiracion is required
                    </span>
                </div>

                <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa fa-key" aria-hidden="true" [class.greenIcon]="this.myForm.get('cvv')?.valid"
                                [class.redIcon]="this.myForm.get('cvv')?.invalid && this.myForm.get('cvv')?.touched">
                            </i>
                        </span>
                        <input type="password" class="form-control" formControlName="cvv" name="cvv" required
                            placeholder="0-9" maxlength="3" min="1" max="20">
                    </div>
                    <span class="help-block" style="color: hotpink;"
                        *ngIf="!myForm.get('cvv')?.valid && myForm.get('cvv')?.touched">
                        <!-- <span *ngIf="myForm.get('cvv')?.errors['required']">
                        ID is required
                        </span>  -->Between 0-9, do not initialize whith 0
                    </span>
                </div>

            </div>
            <div class="d-grid gap-2 pt-2">
                <button class="btn btn-success btn-lg" type="submit" [disabled]="!myForm.valid"
                [class.btnGrey]="myForm.invalid">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    &nbsp;Acept
                </button>
            </div>
        </form>
        <!-- <button class="btn btn-danger btn-block" (click)="setName()">set</button> -->
    </div>

    
    <div *ngIf="!myForm.valid && myForm.touched" style="text-align: center;">
        <span class="badge badge-light">
            <p>PLEASE ENTER VALID DATA </p>

        </span>
    </div>
</div>