<div class="row">
    <div class="col-md-6">
      <h1 style="text-align: center;">{{title}}</h1>
    </div>
    <div class="col-md-6">
      <!-- Copio desde w3schools audio html -->
      <audio controls>
        <source src="assets\Sonidos\PajarosBIRD2.mp3">
      </audio>
    </div>
  </div>
  
  
  <div class="row">
      <div class="col-lg-8">
      <!-- <div class="col-lg-8 offset-2"> no va esto pues uso flex box-->
          <!-- copiado desde bootstrap/componente/list Group -->
          <div class="list-group">
              <a (click)="aplicaSonido(7)"class="list-group-item list-group-item-action"style="background-color:green;"></a>
              <a (click)="aplicaSonido(2)"class="list-group-item list-group-item-action"style="background-color: red;"></a>
              <a (click)="aplicaSonido(3)"class="list-group-item list-group-item-action"style="background-color:orange;"></a>
              <a (click)="aplicaSonido(4)"class="list-group-item list-group-item-action"style="background-color:teal;"></a>
              <a (click)="aplicaSonido(5)"class="list-group-item list-group-item-action"style="background-color: purple;"></a>
              <a (click)="aplicaSonido(6)"class="list-group-item list-group-item-action"style="background-color:pink;"></a>
              <a (click)="aplicaSonido(7)"class= "list-group-item list-group-item-action"style="background-color: yellow;"></a>
          </div>
      </div>
      
  </div>
  
  
  
  <!--   <div style="width: 100%;">
      <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>      
          <a href="#" class="list-group-item list-group-item-action ">A simple primary list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</a>
        </div>
    </div> -->
  
