<div class="card">
    <ng-template #infoText>
        <h4 style="border: 2px solid rgba(6, 70, 122, 0.712); color:rgb(7, 102, 226); text-align: center">
            No cites yet
        </h4>
      </ng-template>

    <div class="card-body" *ngIf="listaCitasInput.length>0; else infoText">
        <h5 class="card-title text-center"> List appointment </h5>

        <div class="card mb-2" *ngFor="let cit of listaCitasInput; let i=index ">
            <div class="card-body">
                <p class="card-text"><span>Name:</span>{{cit.nombre}}</p>
                <p class="card-text"><span>Date:</span>{{cit.fecha}}</p>
                <p class="card-text"><span>Hour:</span>{{cit.hora}}</p>
                <p class="card-text"><span>Symptom:</span>{{cit.sintoma}}</p>
                <button style="width: 100%;"class="btn btn-light btn-block" (click)="delete(i)">DELETE</button>
            </div>
        </div>

        <!-- <div class="card mt-3">           
            <div class="card-body" >
                <div class="table-responsive">
                    <table class="table align-middle table-success table-striped  ">
                        <thead class="table-light align-middle">
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Hour</th>
                                <th>Symptom</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cit of listaCitasInput">
                                <td>{{cit.nombre}}</td>
                                <td>{{cit.fecha}}</td>
                                <td>{{cit.hora}}</td>
                                <td>{{cit.sintoma}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>-->

    </div>
</div>