.help-block{
    border: 1px solid hotpink;
    color: hotpink;
  }
  .greenIcon{
    color: limegreen;
  }
  .redIcon{
    color: rgb(218, 40, 179);
  }
  p{
    color: rgb(248, 117, 237);
    text-align: center;
   /*  height: auto; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgb(218, 40, 179);
    font-size: x-large;
    background-color: transparent;
  }

  h5{
    color: rgb(97, 99, 236);
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: x-large;
  }
  
  .btnGrey{
    background-color: rgba(214, 211, 211, 0.767);
    color: darkslategray;
  }

  .spinner-border{
    height: 1.5rem;
    width: 1.5rem;
    float: right;
    color: darkmagenta;
  }
  .myColorEdit{
    color: rgb(247, 232, 192);
    background-color: rgb(163, 163, 214);
    float: left
}

.myColorNew{
    color: rgb(120, 153, 0);
    background-color: rgb(191, 248, 226);
}
