<!-- <div class="row">
    <div class="col-lg-4 offset-lg-4"> -->
<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="myTitulo">
            RESULTADO
        </h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="myContenedorParaCentrar">
                        <p class="resultado">{{result}}</p>
                        <p class="numero">{{bmiValor2}}</p>
                        <p class="iterpretacion">{{interpretacion}}"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button (click)="aHome()"
                    class="btn btn-primary btn-lg myBbtn-color"
                    >Re-Calcular
                </button>
            </div>
        </div>
    </div>
</div>
