.container{
    font-family: 'Montserrat', sans-serif;
    color:darkorange;
    border: .2em solid white;
}

hr{
  color: orange;
}
 
 .card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6px;
}

.card {
  border-radius: 4px;
  border: 1px solid rgb(172, 235, 130);
  background-color: #0c0c0a;
  height: 4rem;
  width: 8rem;
  margin: 0 8px 16px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;/* 
  transition: all 0.2s ease-in-out;
  line-height: 24px; */
}

/****************   AREA *************/
/* fr=Fraccion, divide el entero en fracciones */
.area-contenedora{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10% auto 40% ;
    grid-template-areas:
    "myHeader myHeader "
    "myMain  myMain"
    "mySidebar myFooter";
    border: 2px solid  greenyellow;
   /*  justify-items: stretch;
    align-items: center; */
    /* justify-content: center; */
   /*  justify-content: right; */
    padding: 4px;
    align-items: stretch;
    justify-items: auto;
    justify-content: space-between;
    align-content: stretch;
  }
  
  .customHeader{
    background-color: rgb(245, 233, 124);
    grid-area: myHeader;
    text-align: center;
  }
  .customHeader i {
    color: rgb(16, 65, 224);
   font-size: 2rem;
   font-weight: bold;
   /* text-shadow: 0,0,22px,-4px violet; */
   /* box-shadow: 0,0,22px,-4px violet; */
  }
  .customMain{
    background-color: rgb(233, 173, 223);
    grid-area: myMain;
  }
  .customSidebar{
    background-color: rgb(135, 222, 181);
    grid-area: mySidebar;
    grid-column-end: auto;
   /*  grid-row-start: end; */
   /*  align-self: start;
    justify-self: end; */
  }
  .customFooter{
    background-color: rgb(245, 166, 170);
    grid-area: myFooter;  
  }

  /* ******** NETFLIX ****************** */
  
  .netflix{
    background-color: #e70606;
    width: 5rem;
    height: 10rem;
    position: relative;
  }
  .netflix::before{
    background-color: #e70606;
    width: 5rem;
    height: 10rem;
    position: absolute;
    content: '';
    left: 10rem;
  }
  .netflix::after{
    background-color: #222;
    width: 15rem;
    height: .5rem;
    position: absolute;
    content: '';
    left: .5px;
    bottom: -2px;
    border-radius: 40%;
  }
  .netflix span{
    position: absolute;
    background-color: #ff0d0d;
    width: 5rem;
    height: 10rem;    
    left: 5rem;
    transform: skew(45deg);
    box-shadow:0,0,15px,-15px rgb(4, 4, 122);
  }

  
   /* *********** instagram *************** */
   .instagram{
     width: 10rem;
     height: 10rem;
     background: radial-gradient(
      circle at 33% 100%,
      #fed373 4%,
      #f14245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf );
      border-radius: 30px;
     position: relative;
   }
   .instagram::before{
     content: '';
     border: .5rem solid #fff;
     border-radius: 30%;
     width: 9rem;
     height: 9rem;
     left: 0;
     right: 0;
     position: absolute;
     margin: auto;
     top: 0;
     bottom: 0;
   }

   .instagram::after{
    content: '';
    border: .5rem solid #fff;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
   }

   .instagram span{
    content: '';
    border: .7rem solid #fff;
    border-radius: 100%;
    width: 0;
    height: 0;
    right: 1.8rem;
    position: absolute;
    margin: auto;
    top: 1.8rem;
   }

   /* ********  Andres  ********* */
   
 .andres{
  background-color: #48e0ae;
  width: 5rem;
  height: 10rem;
  position: relative;
  top: .8rem;
  left: 2rem;
}
.andres::before{
  background-color:  #48e0ae;
  width: 5rem;
  height: 10rem;
  position: absolute;
  content: '';
 /*  padding: 0 3rem 0 0; */
 left: 15rem;
  top: .8rem;  
}
.andres::after{    
  background-color:  #48e0ae;
  width: 20rem;
  height: 3rem ;
  position: absolute;
  content: '';     
}
.andres span{
  background: radial-gradient(
   circle at 33% 100%,
   #5af7c2 4%,
   #f14245 30%,
   #d92e7f 62%,
   #9b36b7 85%,
   #515ecf );
  border: 3px dotted chartreuse;

  width: 22rem;
  height: 1rem ;
  position: absolute;
  content: '';
  left: -1rem;    
  
  top: 6rem;
  transform: skew(10deg);
  transform: rotate(-2deg);
  box-shadow:0,0,15px,-15px rgb(1, 1, 31);
}

/* ******  IMG ***********/
.img-fluid{
  max-width: 30%;
  height: auto;
  box-shadow: blue;
  border:2px solid chartreuse;
  padding: .4rem;
}

   /* ********** Titulo *********************** */
   /* la clase font-effect-neon esta en idex global y se llama por el*/
   .tituloClass1 {
    font-family: 'Tangerine', serif;
    font-size: 3rem;
    /* font-size: 48px; */
    text-shadow: 4px 4px 4px #aaa;
  }
  .tituloClass2 {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-shadow: 4px 4px 4px #aaa;
  }
  
  